name: Dependabot Auto-Approve and Handle Merge for Minor Bumps

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  auto-approve-and-merge-queue:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: fastify/github-action-merge-dependabot@v3
        with:
          use-github-auto-merge: true
          target-development: major
          target-production: minor
